$backgroundColor: #eee;
$spacing: 2rem;
$links: #35a8ff;

@import "libs/normalize";
@import "libs/foundation/foundation";
@import "libs/font-awesome/font-awesome";
@import "libs/owl.carousel";
@import "owl.theme";


