$backgroundColor: #eee;
$spacing: 2rem;
$links: #35a8ff;


@import "libs/normalize";
@import "libs/foundation/foundation/_settings";
@import "libs/foundation/foundation";
// @import "libs/foundation/foundicons";
@import "libs/font-awesome/font-awesome";
//http://owlgraphic.com/owlcarousel/
@import "libs/owl.carousel";
@import "owl.theme";

body {
  background: $smoke;
}

/*
   HEADER SECTION
   ========================================================================== */
.header-section {
	margin-bottom: 15px;
}


/*
   MAIN SECTION
   ========================================================================== */
img.logo {
    width:400px;
  }

.color-blocks {
  @include thumb(
    // Width of border around thumbnail
    $border-width: 5px,
    // Box shadow to apply to thumbnail
    $box-shadow: 0 0 0 1px rgba(#000,.2),
    // Box shadow to apply on hover
    $box-shadow-hover: 0 0 6px 1px rgba(#ccc,0.5)
    
  );
  margin-top: 25px; 
  margin-right: 20px;
  height: 60px;
  width: 60px;
}
.blue {
   background: $primary-color;
}
.red {
  background: red;
}

.texture-blocks {
  @include thumb(
    // Width of border around thumbnail
    $border-width: 5px,
    // Box shadow to apply to thumbnail
    $box-shadow: 0 0 0 1px rgba(#000,.2),
    // Box shadow to apply on hover
    $box-shadow-hover: 0 0 6px 1px rgba(#ccc,0.5)
    
  );
  margin-top: 25px; 
  margin-right: 20px;
  height: 90px;
  width: 90px;
}

.custom-button {
  @include button();
  margin: 25px 15px;
  padding: 15px 50px; 
}
.custom-button-radius {
  @include button($radius:3px);
  margin: 25px 15px; 
  padding: 15px 50px;
  background: darken($primary-color, 10%);
  &:hover {
    background: darken($primary-color, 15%);
  }
} 

.clear-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg: $transparent,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
  text-align: center;
  border: 0;
}

.text {
  h1 {margin-top: 20px;
    margin-bottom: 5px;}
  h2 {margin-top: 20px;
    margin-bottom: 5px;}
  p {margin: 50px 0 10px 0;}
  a {margin: 20px 0 5px 0;}


}
span {
    font-size: 15px;
    margin-bottom: 20px;
    color: $aluminum;
  &.h1-font {
  }
  &.h2-font {
  }
  &.p-font {
  }
  &.alink-font {
    
  }
}

.footer-section {
  margin-top: 20px;
  padding: 20px 0;
  background: $oil;
  color: $white;
  span.title {
    position: relative;
    font-size: 1rem;
    margin-bottom: 5px;
    padding-left: 35px;
    color: lighten($oil, 15%);
    &:before {
      content: "\f1d8";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  /*--adjust as necessary--*/
      color: lighten($oil, 20%);
      font-size: 18px;
      padding-right: 0.5em;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
  span.blub {
    display: block;
    color: lighten($oil, 15%);
    font-size: 0.75rem;
    padding-left: 35px;
    line-height: 18px;
  }
  p {
    font-size: 15px;
    line-height: 16px;

  }
}

hr.hr-alt {
  margin: 20px 0;
}

.rotate {
  -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
}

// Wiget Areas
.learn-links {
  margin-top: 30px;
  text-align: center;
  padding: 10px 25px 0 0;
  height:250px;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  h4 {margin: 20px 0 0 0}
  ul {
    margin-left: 0;
    li {
      display: block;
    }
  }
  &.first {
    border-left: 0px solid rgba(255, 255, 255, 0.8);
    ul {
      margin-left: 0;
      li {
        display: block;
      }
    }
  }
}






